<bkr-heading text="{{heading}}"></bkr-heading>
  <div class="tw:flex tw:w-full tw:h-full tw:justify-center">
    <div class="tw:rounded-2xl tw:bg-secondary-1200 tw:p-8 tw:w-md">
          <form action="/admin/portal/passwordrecovery" method="POST" class="tw:space-y-4 tw:my-5">

           <bkr-paragraph text="If you have forgotten your website login password, fill this page in with your registered user ID."></bkr-paragraph> 

           <bkr-input for="Username" label="Enter your User ID" type="text" dataVal="true" dataValLength="The field Username must be a string with a maximum length of 100." dataValLengthMax="100" maxLength="100" id="Username" name="Username"></bkr-input>
            
            <div class="g-recaptcha tw:my-4"
              data-sitekey="6LfwwIQqAAAAANcF-qB9oAxVzaVwIum45H588zwK"
              data-callback="onSubmit"
              data-badge="inline"
              data-size="invisible">
            </div>
          
            <bkr-button type="submit" text="Submit" classes="tw:w-full tw:bg-black-1000 tw:text-white-1000 tw:hover:bg-tertiary-500 tw:hover:text-black-1000"></bkr-button>

            <bkr-link href="/admin/portal/login" text="Cancel" class="tw:text-center tw:block tw:my-4"></bkr-link>
          </form>
        </div>
      </div>      